<section class="page-block {{ spark_class }}">
	<h2 class="page-title"> {{ content.post_title }} </h2>
	<p class="page-excerpt"> {{ content.content }}</p>
	<a class="read-more" href="{{ content.permalink }}">{{ content.read_more_text }}</a>
</section>