{{ feature_slider }}
<div class="main-content">
	<div class="container columns">
		<div class="one-third column">
			{{ credo }}
			{{ testimonial }}	
			{{ formula }}
		</div>
		<div class="two-thirds column">
			{{ contact_form }}
			{{ news }}		
		</div>
	</div>
</div>
