{# {{ dump(slide) }} #}
<div class="testimonial">
	<img src="{{ slide.thumbnail.src }}"/>
	{{ slide.content }}
	<h2>{{ slide.title }}</h2>
	<span class="client-position">{{ slide.client_position }}</span>
</div>